.slide_wrapper {
  width: 70%;
  background-color: #ffbb0034;
}

.swiper {
  width: 98%;
}

.swiper-button-prev,
.swiper-button-next {
  color: #ffbb00;
}

.img_wrapper {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_wrapper img {
  width: 90%;
  height: 100%;
  object-fit: fill;
}
